body {
  color: darkslategray;
  font-family: "Roboto", "Verdana", "Avenir", sans-serif;
}

input {
  border: 1px solid lightslategrey;
  border-radius: 5px;
}

.app {
  max-width: 1240px;
  margin: 0 auto;
}


.graph-view {
  border: 1px solid lightslategrey;
  border-radius: 5px;
  margin-bottom: 20px;
}